body {
  max-width: 210mm;
  max-height: 297mm;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px 20px 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 500px) {
  body {
    font-size: 14px;
    padding: 12px;
  }
}

body em {
  color: rgb(208, 181, 52);
  margin-left: 4px;
  margin-right: 4px;
  font-weight: 600;
  font-size: 14px;
}

header {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  justify-content: space-between;
  border-bottom: 2px solid rgb(69, 109, 109);

}

header li {
  display: inline-block;
  padding: 6px;
  text-align: center;

}

@media(max-width: 500px) {
  header li {
    padding: 6px;
  }
}

header li a {
  font-size: 14px;
  color: rgb(88, 132, 202)
}


.intro {
  display: flex;
  margin-top: 5px;
  justify-content: flex-start;
}

@media(max-width: 500px) {
  .intro {
    flex-direction: column;
    justify-content: center;
  }

  header li a {
    font-size: 12px;
  }
}

.img {
  display: inline-block;
  width: 100px;
  height: 145px;
}

@media(max-width: 500px) {
  .img {
    margin-left: auto;
    margin-right: auto;
  }
}

.info {
  flex: 1;
  margin-left: 20px;
}

.info p {
  margin-top: 5px;
}

.info .name {
  font-size: 20px;
  font-weight: 600;
}

@media(max-width: 500px) {
  .info {
    margin-left: 10px;
    margin-right: 10px;

  }

  .info .name {
    font-size: 18px;
  }
}

.info .basic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info .basic span {
  display: inline-block;
  padding-right: 20px;
}

.info .job {
  font-weight: 600;
}

.intro img {
  width: 100px;
}

section {
  margin-top: 10px;
}

section a {
  color: rgb(1, 175, 210);

}

section .header {
  font-size: 16px;
  font-weight: 600;
  color: rgb(69, 109, 109);
  border-bottom: solid 1px rgb(69, 109, 109);
}

section .body ul li {
  /* margin-top:6px; */
}

.program .body .content h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.program .body .content h4 span {
  display: inline-block;
  margin-right: 20px;
  font-weight: 400;
  font-size: 14px;
}

section .body ul li h4 {
  font-size: 14px;
  font-weight: 600;
}

@media(max-width: 500px) {
  section {
    margin-top: 6px;
  }

  section .header {
    font-size: 14px;
  }

}

section .body ul li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.program .body .content ul li p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

section .body ul li a {
  display: inline-block;
  padding: 10px;
}

@media(max-width: 500px) {
  section .body ul li a {
    padding: 4px;
  }
}

section .body ul li .content {
  margin-top: 5px;
  flex-grow: 1;
  margin-left: 10px;
}

.program img {
  width: 110px;
  height: 110px;
}

.workskill .body .content {
  margin-left: 10px;
}

.other .body .content {
  margin-left: 10px;
}

.body .content .description {
  margin-bottom: 5px;
  font-size: 14px;
}

.body .content .description div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.body .content .description strong {
  font-weight: 600;
  white-space: nowrap;
}

.body .content .description .problems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.body .content .description .sub-des {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-left: 12px;
}

.body .content .description .sub-des i {
  display: inline-block;
}

.body .content .description .sub-des .sep {
  white-space: nowrap;
}

.body .content .description .sub-des i:last-child {
  text-align: right;
}

.body .content .description .sub-des i:first-child {
  width: 44%;
}

.body .content .description .sub-des i:last-child::before {
  content: '------';
}

@media(max-width: 500px) {
  .body .content .description .sub-des i:first-child {
    width: 100%;
  }

  .body .content .description .sub-des i:last-child {
    text-align: left;
  }

  .body .content .description .sub-des {
    width: 100%;
    display: block;
  }
}

/* .body .content .description  .sub-des i:first-child::after{
    
} */
.body .content .description .sub-des::before {
  content: '✻';
  position: absolute;
  top: 0;
  left: -4px;
}

.work {
  /* page-break-before:always; */
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 18px;
}

.edu .body h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work .body ul li h4 {
  display: flex;
  justify-content: space-between;

}

@media(min-width:500px) {
  .program .body ul .moveUp {
    margin-top: -5px;
  }
}

.other {
  padding-bottom: 40px;
}